
<footer class="page-footer" role="contentinfo">
    <div class="d-flex align-items-center justify-content-center text-white">
        <span class="hidden-md-down fw-700">2024 © Bharat Drone Website by&nbsp;<a href='https://www.a2zithub.org/' class='text-primary fw-500' title='a2zithub.org' target='_blank'>A2Z IT HUB Website...</a></span>
    </div>
    
</footer>
</body>
</html>