*{
    padding: 0px;
    margin: 0px;
}

.top_right_navbar{
    display: flex;
    justify-content: end;
    color: lavender;
    background-image: linear-gradient(60deg, #E4E4E4 4%,  #077d3f 2%,  #077d3f 2%);
    border-bottom:2px solid #077d3f;
}
.top_left_navbar{
    color: black;
    border-bottom:2px solid #077d3f;
    background-image: linear-gradient(50deg,  #077d3f 13%, blue 10%,#E4E4E4 10%);
}
.swal2-container {
    z-index: 999999 !important; /* Ensure this is higher than the modal's z-index */
  }
  